.print_this{display: block;
   height:55pt;
   width:55pt;
   padding-right: 10pt;
   padding-top: 26pt;
   padding-left: 5pt;
   margin: auto;
   border: none;
   page-break-after:avoid;
   page-break-inside:avoid}

@media print {
 .noprint{display: none;}
}